#block-1{
    height: 100px;
    width: 100px;
    background-color: red;
    transition: all;
    transition-duration: 0.5s;
}

#block-2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    transition: all;
    transition-duration: 0.5s;
}

#block-3{
    height: 100px;
    width: 100px;
    background-color: blue;
    transition: all;
    transition-duration: 0.5s;
}

#block-4{
    height: 100px;
    width: 100px;
    background-color: green;
    transition: all;
    transition-duration: 0.5s;
}

.container{
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.container:hover #block-1{
    transform: translateX(-100px) rotateZ(90deg);
}

.container:hover #block-2{
    transform: translateX(100px) rotateZ(-90deg);
}

.container:hover #block-3{
    transform: translateX(-100px) rotateZ(-90deg);
}

.container:hover #block-4{
    transform: translateX(100px) rotateZ(90deg);
}